<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <title>About</title>
  </head>
  <body>
    <div id="page">
      <div id="nav">
        <a href="/">Will Smith</a>
        <nav id="nav-bar">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/works">Works</a>
          <a href="/gallery">Photo Gallery</a>
        </nav>
      </div>
      <div id="container">
        <h1>About</h1>
        <hr />
        <div id="article">
          <article>
            Early life Smith was born Willard Carroll Smith II on September 25,
            1968, in Philadelphia, to Caroline (née Bright), a school board
            administrator, and Willard Carroll Smith Sr., a US Air Force
            veteran and refrigeration engineer. His mother graduated from
            Carnegie Mellon University.[18] He grew up in West Philadelphia's
            Wynnefield neighborhood and was raised Baptist. He has an
            elder sister named Pamela and two younger siblings, twins Harry and
            Ellen. He attended Our Lady of Lourdes, a private Catholic
            elementary school in Philadelphia, and Overbrook High
            School. His parents separated when he was 13 and divorced
            around the year 2000. Smith began rapping at age 12. When his
            grandmother found a notebook of his lyrics, which he described as
            containing "all [his] little curse words", she wrote him a note on a
            page in the book: "Dear Willard, truly intelligent people do not
            have to use words like this to express themselves. Please show the
            world that you're as smart as we think you are". Smith said that
            this influenced his decision not to use profanity in his music.
          </article>
        </div>
      </div>
    </div>
  </body>
</html>
