<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <title>My figure</title>
  </head>
  <body>
    <div id="page">
      <div id="nav">
        <a href="/">Will Smith</a>
        <nav id="nav-bar">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/works">Works</a>
          <a href="/gallery">Photo Gallery</a>
        </nav>
      </div>
      <div id="container">
        <h1>Will Smith</h1>
        <hr>
        <div id="article">
          <div id="img"><img src="/images/will.jpeg" alt="" /></div>
          <div>
            <article>
              Willard Carroll Smith II (born September 25, 1968), also known by
              his stage name The Fresh Prince, is an American actor and rapper.
              Known for variety of roles, Smith has received multiple accolades,
              including an Academy Award, a British Academy Film Award and four
              Grammy Awards. As of 2023, his films have grossed over $9.3
              billion globally making him one of Hollywood's most bankable
              stars. <br><br> Smith began his acting career starring as a fictionalized
              version of himself on the NBC sitcom The Fresh Prince of Bel-Air
              (1990-1996). He first gained recognition as part of a hip hop duo
              with DJ Jazzy Jeff, with whom he released five studio albums and
              the US Billboard Hot 100 top 20 singles "Parents Just Don't
              Understand", "A Nightmare on My Street", "Summertime", "Ring My
              Bell", and "Boom! Shake the Room" from 1984 to 1994. He released
              the solo albums Big Willie Style (1997), Willennium (1999), Born
              to Reign (2002), and Lost and Found (2005), which contained the US
              number-one singles "Gettin' Jiggy wit It" and "Wild Wild West". He
              has received four Grammy Awards for his rap performances.
            </article>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
