<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <title>Photo Gallery</title>
  </head>
  <body>
    <div id="page">
      <div id="nav">
        <a href="/">Will Smith</a>
        <nav id="nav-bar">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/works">Works</a>
          <a href="/gallery">Photo Gallery</a>
        </nav>
      </div>
      <div id="container">
        <h1>Photo Gallery</h1>
        <hr />
        <div id="photo-gallery">
            <img src="/images/will8.jpeg" />
            <img src="/images/will9.webp" />
            <img src="/images/will1.jpeg" />
            <img src="/images/will2.jpeg" />
            <img src="/images/will3.jpeg" />
            <img src="/images/will7.jpeg" />
          <img src="/images/will4.jpeg" />
          <img src="/images/will5.jpeg" />
          <img src="/images/will6.jpeg" />
        </div>
      </div>
    </div>
  </body>
</html>
